$white: #ffff;
$background-color: #e3e9ff;
$light-orange: #295173;
$black : #286094;
$header-color : #4eb78b;
$form-background: #9d959d;
$input-color:#736f6f;
$blue : #4a90e2;
$grey-button:#524f4e;
$green-button-hover:#5cbe6f;
$text-black-light:#2f2c2c;
$text-muted:#8e9a9d;
