<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit-profile</title>

</head>
<body>
<div class="header-nav">
    <nav >
        <div class="logo">
            ONLINE-WALLET
        </div>
        <label for="btn" class="icon">
          <fa-icon [icon]="faBars"></fa-icon>
        </label>
        <input class="display-none" type="checkbox" id="btn">
        <ul>
            <li><a href="/payment-method">PAYMENT METHOD</a></li>
            <li><a href="#">ABOUT</a></li>
            <li>
                <a href="/send">SEND/REQUEST</a>
            </li>
            <li>
                <a href="/profile">PROFILE</a>
            </li>
            <li>
                <a href="/login" (click)="logout()">LOGOUT</a>
            </li>
        </ul>
    </nav>
</div>
<div class="registration-container">
    <p class="sign">Edit Profile</p>
    <div class="registration-form">
        <form id="editform" #editForm = "ngForm"(ngSubmit)='editUser(editForm.value)'>

            <div class="reg-field">
                <div class="label">First Name</div>
                <input type="text" name="firstname" id="firstname" [ngModel]="firstname">
            </div>
            <div class="reg-field">
                <div class="label">Last Name</div>
                <input type="text"  name="lastname" id="lastname"[ngModel]="lastname" >
            </div>
            <div class="reg-field">
                <div class="label">Phone number</div>
                <input type="text" name="phoneNumber" id="phoneNumber"[ngModel]="phoneNumber">
            </div>
            <div class="reg-field">
                <div class="label">New password</div>
                <input class="password" type="password" name="password" id="password" ngModel>
            </div>
            <div class="reg-field">
                <div class="label">Confirm password</div>
                <input class="confirm-password" type="password" name="conf-password">
            </div>
            <div class="reg-field">
                <div class="label">Date of Birth</div>
                <input type="date" name="birthDate" ngModel>
            </div>
            <div class="reg-field  buttons">
                <button type="submit" class="next-2 submit">Submit</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
