<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send-money</title>
</head>
<body>
<div class="header-nav">
    <nav >
        <div class="logo">
            ONLINE-WALLET
        </div>
        <label for="btn" class="icon">
            <span class="fa fa-bars"></span>
        </label>
        <input class="display-none" type="checkbox" id="btn">
        <ul>
            <li><a href="payment-method.html">PAYMENT METHOD</a></li>
            <li><a href="#">ABOUT</a></li>
            <li>
                <a href="send-money.html">SEND/REQUEST</a>
            </li>
            <li>
                <a href="profile.html">PROFILE</a>
            </li>
            <li>
                <a href="index.html">LOGOUT</a>
            </li>
        </ul>
    </nav>
</div>
<div class="bg-primary">
    <div class="send-money-container">
        <ul class="nav">
            <li class="nav-item"> <a class="nav-link active"  href="send-money.html">Send</a></li>
            <li class="nav-item"> <a class="nav-link"  href="request-money.html">Request</a></li>
        </ul>
    </div>
    <h2 class="font-weight-400 text-center mt-3">Send Money</h2>
    <p class="text-3 text-center lead">Send your money on anytime, anywhere in the world.</p>
    <div class="transaction-container">
    <div class="form">
        <form #sendForm = "ngForm">
            <div class="registration-page slide-page">
                <div class="reg-field">
                    <div class="label">Recipient:</div>
                    <input type="email" class="placeholder" placeholder="Email Address" name="email" [(ngModel)]='email'>
                </div>
                <div class="reg-field">
                    <div class="label">You send:</div>
                    <div class="input-group-prepend"> <span class="input-group-text">$</span> </div>
                         <input type="number"  placeholder="" name="money" [(ngModel)]='money' required autocomplete="off">
                </div>
                <hr class="mtm-20 mb-1">
                <p class="mb-1 text-left">Total fees <span class="text-3 float-right">{{fee}} USD</span></p>
                <hr>
                <p class="mb-1 text-left font-bold font-weight-500">Total To Pay <span class="text-3 float-right">{{money + fee}} USD</span></p>
                <input type="checkbox" id="click">
                <label for="click" class="click-button" class="click-button" (click)='sendMoney(sendForm.value)'>Confirm</label>
                    <div class="overlay">
                    <div class="content">
                        <div class="popup-header">
                            <h2>SUCCESS</h2>
            
                        </div>
                        <label for="click" ><fa-icon [icon]="faCheck" class="fa-check"></fa-icon></label>
                        <p>Transactions Complete. You've Successfully sent ${{money + fee}} to demo@gmail.com</p>
                        <div class="line"></div>
                        <label for="click" class="close-btn text-4">Close</label>
                    </div>
                    </div>
                </div>
        </form>
    </div>

    </div>
</div>
</body>
</html>
