.ml-1 {
  margin-left: 10px;
}
.mt-1{
  margin-top: 10px;
}
.text-3 {
  font-size: 16px;
}
.text-4{
  font-size: 18px;
}
.text-muted {
  color: #8e9a9d;
}
.text-black-light {
  color: #2f2c2c;
}
.text-9{
  font-size: 36px;
}
.font-weight-400{
  font-weight: 400;
}
.float-right{
  float: right;
}
.d-flex{
  display: flex;
}
.align-items-center{
  align-items: center;
}
.d-inline-block {
  display: inline-block!important;
}
.font-weight-500{
  font-weight: 500;
}
.text-uppercase{
  text-transform: uppercase;
}
.p-1{
  padding-right: 5px;
  padding-left: 5px;
}
.p-t-10{
  padding-top: 10px;
}
