<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Title</title>
</head>
<body>

<div class="header-nav">
  <nav >
    <div class="logo">
      ONLINE-WALLET
    </div>
    <label for="btn" class="icon">
      <fa-icon [icon]="faBars"></fa-icon>
    </label>
    <input class="display-none" type="checkbox" id="btn">
    <ul>
      <li><a href="/payment-method">PAYMENT METHOD</a></li>
      <li><a href="#">ABOUT</a></li>
      <li>
        <a href="/send">SEND/REQUEST</a>
      </li>
      <li>
        <a href="/profile">PROFILE</a>
      </li>
      <li>
        <a href="/login" (click)="logout()">LOGOUT </a>
      </li>
    </ul>
  </nav>
</div>
<div class="profile-container">
  <div class="profile-left-column">
    <div class="pay-left">
      <div><fa-icon [icon]="faWallet" class="fa-wallet fa-6x"></fa-icon></div>
      <h3 class="text-9 font-weight-400">$2956.00</h3>
      <p class="mb-2 text-muted opacity-8">Available Balance</p>

    </div>
  </div>
  <div class="profile-right-column">
    <div class="personal-info">
      <h3 class="personal-detail">Payment Details <a href="/add-card" data-toggle="modal" class="edit-button float-right text-1 text-uppercase text-muted btn-link"><fa-icon [icon]="faEdit" ></fa-icon>Add</a></h3>
      <hr class="profile-line">
    </div>
    <div class="card">
      <p class="text-4 number-card">XXXX-XXXX-XXXX-6296</p>
      <p class="d-flex"> <span class="valid-card">Valid<br>
                    thru<br>
                    </span> <span class="text-4 p-t-10">07/23</span> </p>
      <span class="name font-weight-500">Julia Bidak</span>
    </div>

  </div>
</div>
</body>
</html>
