* {
  outline: none;
}

body {
  text-align: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  font-family: "Poppins-Medium", sans-serif;
  letter-spacing: 1px;
  background: url("../../images/background.png"), -webkit-linear-gradient(bottom, #4eb78b, #fff);
}

header {
  height: 100px;
  background: #4eb78b;
  width: 100%;
  z-index: 12;
  position: fixed;
}

.logo {
  width: 30%;
  float: left;
  line-height: 100px;
}

.logo a {
  text-decoration: none;
  font-size: 30px;
  font-family: "Teko", sans-serif;
  color: #fff;
  letter-spacing: 5px;
}

nav {
  float: right;
  line-height: 100px;
}

nav a {
  text-decoration: none;
  font-family: "Teko", sans-serif;
  letter-spacing: 4px;
  font-size: 20px;
  margin: 0 18px;
  color: #ffffff;
}

.registration-container {
  width: 330px;
  background: #ffffff;
  border-radius: 5px;
  padding: 30px 35px 0 35px;
  margin: 119px auto 19px auto;
}

.sign {
  font-size: 29px;
  font-weight: 600;
}

.registration-form {
  width: 100%;
  overflow: hidden;
}

.registration-form form {
  display: flex;
  width: 400%;
}

.registration-page {
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}

.registration-title {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
}

.reg-field {
  height: 40px;
  width: 330px;
  margin: 38px 0;
  position: relative;
  display: flex;
}

.reg-field .label {
  position: absolute;
  top: -30px;
  font-weight: 500;
}

.reg-field input {
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 14px;
  padding-left: 15px;
}

.reg-field button {
  width: 100%;
  height: calc(100% + 5px);
  margin-top: -10px;
  border: none;
  border-radius: 5px;
  background: #faba24;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease;
}

.reg-field button:hover {
  background: #000;
}

.buttons button {
  margin-top: -10px;
  margin-right: 4px;
  margin-left: 4px;
}

.form_radio_group {
  height: 40px;
  width: 100%;
  display: flex;
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid lightgray;
}

.form_radio_group label {
  padding: 10px 1px 0 10px;
  font-size: 13px;
  text-align: center;
}

.form_radio_group input {
  height: 60%;
  margin-top: 8.5px;
}

.registration-progress-bar {
  display: flex;
  margin: 18px 0;
  font-size: 13px;
}

.reg-step {
  position: relative;
  text-align: center;
  width: 100%;
}

.reg-step p {
  font-size: 16px;
  margin-bottom: 8px;
  transition: 0.3s;
}

.reg-step p.active {
  color: #faba24;
}

.progress-bar-block {
  position: relative;
  height: 25px;
  width: 25px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  line-height: 25px;
  transition: 0.3s;
}

.progress-bar-block.active {
  border-color: #faba24;
  background: #faba24;
}

.registration-progress-bar .reg-step:last-child .progress-bar-block:before,
.registration-progress-bar .reg-step:last-child .progress-bar-block:after {
  display: none;
}

.progress-bar-block:before,
.progress-bar-block:after {
  position: absolute;
  content: "";
  bottom: 11px;
  right: -51px;
  height: 3px;
  width: 44px;
}

.progress-bar-block.active:after {
  background: #faba24;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
}

@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.reg-step .progress-bar-block span {
  font-weight: 500;
  line-height: 25px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.reg-step .progress-bar-block.active span {
  display: none;
}

.reg-step .check.active {
  display: block;
  color: #ffffff;
}

.reg-step .check {
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
}

.registration-progress-bar .check {
  display: none;
}

/*# sourceMappingURL=registration-page.css.map */

/*# sourceMappingURL=registration-page.css.map */
