<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Credit Card Form</title>
</head>
<body>
<div class="header-nav">
    <nav >
        <div class="logo">
            ONLINE-WALLET
        </div>
        <label for="btn" class="icon">
            <fa-icon [icon]="faBars" class="cam"></fa-icon>
        </label>
        <input class="display-none" type="checkbox" id="btn">
        <ul>
            <li><a href="payment-method.html">PAYMENT METHOD</a></li>
            <li><a href="#">ABOUT</a></li>
            <li>
                <a href="send-money.html">SEND/REQUEST</a>
            </li>
            <li>
                <a href="profile.html">PROFILE</a>
            </li>
            <li>
                <a href="index.html">LOGOUT</a>
            </li>
        </ul>
    </nav>
</div>
<main class="card">
    <form  #addForm = "ngForm" (ngSubmit)='addCard(addForm.value)'>
        <h1 class="card_title">Enter Payment Information</h1>
        <div class="card_row">
            <div class="card_col">
                <label for="cardNumber" class="card_label">Card Number</label>
                <input type="text" class="card_input card_input-large" id="cardNumber" name = "cardNumber" placeholder="xxxx-xxxx-xxxx-xxxx" ngModel/>
            </div>
            <div class="card_col card_chip">
                <img src="../../assets/images/chip.svg" alt="chip" />
            </div>
        </div>
        <div class="card_row">
            <div class="card_col">
                <label for="cardExpiry" class="card_label">Expiry Date</label>
                <input type="text"  class="card_input" id="cardExpiry" name="expiryDate" placeholder="xx/xx" ngModel />
            </div>
            <div class="card_col">
                <label for="cardCcv" class="card_label">CVV</label>
                <input type="text" class="card_input" id="cardcvv" name="cvv" placeholder="xxx" ngModel />
            </div>
            <div class="card_col card_brand"><i id="cardBrand"></i></div>
            <button class="card-btn" type="submit">Okay</button>
        </div>
    </form>
</main>
</body>
</html>
